.tile-img a>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    -webkit-transition: all 160ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 160ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 160ms ease-in;
    -moz-transform: scale(1);
    transition: all 160ms ease-in;
    transform: scale(1);
}

.tile-img a>img:hover{
    z-index: 2;
    -webkit-transition: all 160ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 160ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 160ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 160ms ease-in;
    transform: scale(1.05);
}

.thumbnail a>img, .thumbnail>img{
    padding-top: 0px;
    border: 0px;
    width: 180px;
    height: 220px;
    object-fit: cover;
}

.thumbnail {
    border:0px;
}

.product_img{
    padding-bottom: 20px;
    max-width: 300px;
    max-height: 500px;
}

.list-group-item{
    border: 2px;
}

a:hover {
    text-decoration: none;
}

.table>tr>td{
    vertical-align: middle;
}

.footer {
    padding: 16px 0px;
    border-top: 1px solid #e7e7e7;
}

body{
    background-image: url('/static/catalog/images/subtle_dots.png');
    background-repeat: repeat-y repeat-x;
    padding-bottom: 100px;
}
<<<<<<< HEAD
<<<<<<< HEAD

.sale{
    color: #ff0033;
}

.well{
    border-radius: 0px;
}

.sub_img{
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
}

div.FeaturedList {
    overflow-x:scroll;
    overflow-y:hidden;
    height:350px;
    width:100%;
    padding: 0 15px;
}

.inline-item
{
    border:1px solid white;
    height:350px;
    width: 290px;
}

.list-inline {
  white-space:nowrap;
}
=======
>>>>>>> 04a9c077f9e67dadc1ca87ca03d4b28abfd305c4
=======
>>>>>>> 04a9c077f9e67dadc1ca87ca03d4b28abfd305c4
