{% extends 'catalog/base.html'%}
{% block title %}About us{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>About us</h1>
    </div>
    <div class="row">
        <h3>
            Thank you for visiting our fake e-store and caring enough to learn about us!
        </h3>
        <br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Click me if you want a quick summary of our project!
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        We are a team of 6 students from Newmarket, Ontario who all had a vision to design something that incorporates new aspects of learning. <br>
                        We wanted to make something useful and something which would be a challenging learning experience for us. Our group came to a final consensus to build an E commerce website. <br>
                        This involved learning how to use HTML as well as Django web framework in the span of 6 weeks and this is the end product.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Created by</h1>
        <table class="table">
            <tbody>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/michael-roudnitski/">Michael Roudnitski</a></td></tc>
                    <tc><td>michaelroudnitski@yahoo.ca</td></tc>
                </tr>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/andrew-y-50686213b/">Andrew Yates</a></td></tc>
                    <tc><td>andrewdjy@rogers.com</td></tc>
                </tr>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/brandon-phonpaseuth-9a786313b/">Brandon Phonpaseuth</a></td></tc>
                    <tc><td>brandon.phonpaseuth@gmail.com</td></tc>
                </tr>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/daniel-lee-89286213b/">Daniel Lee</a></td></tc>
                    <tc><td>jhml662@hotmail.com</td></tc>
                </tr>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/quinton-b-40286113b/">Quinton Bartlett</a></td></tc>
                    <tc><td>quinton_tb@hotmail.com</td></tc>
                </tr>
                <tr>
                    <tc><td><a href="https://www.linkedin.com/in/quang-hy-le-5a486213b/">Quang Le</a></td></tc>
                    <tc><td>lequanghy1998@yahoo.ca</td></tc>
                </tr>
            </tbody>
        </table>
    </div>


</div>
{% endblock %}
