{% extends 'catalog/base.html'%}
{% block title %}{{ product.name }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{product.name}}</h1>
            <h5 style="text-transform: uppercase;">{{product.category.sex}} | {{product.category.name}}</h5>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-2">
                    <ul class="sub_img">
                        <li>
                            <img src={{product.thumbnail}} class="sub_img">
                        </li>
                    </ul>
                    {% for image in prodImages %}
                    <ul class="sub_img">
                        <li>
                            <img src={{image.image}} class="sub_img">
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="col-md-10">
                    <img src={{product.thumbnail}} class="product_img">
                </div>
                <br>
                SKU: {{ product.id }}
                <br>
                <div class="btn-group" role="group" aria-label="Size-Selection">
                    <h3>Available Sizes</h3>
                    {% if product.stockXL > 0 %}
                        <button type="button" class="btn btn-default">XL</button>
                    {% endif %}
                    {% if product.stockL > 0 %}
                        <button type="button" class="btn btn-default">L</button>
                    {% endif %}
                    {% if product.stockM > 0 %}
                        <button type="button" class="btn btn-default">M</button>
                    {% endif %}
                    {% if product.stockS > 0 %}
                        <button type="button" class="btn btn-default">S</button>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                {% if product.sale_price > 0 and product.sale_price < product.price %}
                <p class="sale"><span style="color:#333"><strike>$ {{ product.price }}</strike></span> $ {{ product.sale_price }}</p>
                {% else %}
                <p style="text-align: center;">$ {{ product.price }}</p>
                {% endif %}
                <div class="well">{{product.description}}</div>
            </div>
            <div class="col-md-2">
                RELATED PRODUCTS GO HERE
            </div>
        </div>
    </div>
{% endblock %}
