{% extends 'catalog/base.html'%}
{% block title %}{{ product.name }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{product.name}}</h1>
        </div>
        <img src={{product.image}} style="width: 400px; height: 400px;">
        <br><br>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Extra Large</button>
            <button type="button" class="btn btn-default">Large</button>
            <button type="button" class="btn btn-default">Medium</button>
            <button type="button" class="btn btn-default">Small</button>
        </div>
        <br>

        Extra Large: {{product.stockXL}}<br>
        Large: {{product.stockL}}<br>
        Medium: {{product.stockM}}<br>
        Small: {{product.stockS}}<br>

    </div>
{% endblock %}
