{% extends 'catalog/base.html'%}
{% block title %}{{ selected}}: {{ category }}{% endblock %}


{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{selected}} {{category}}</h1>
    </div>
    <div class="row">
        {% for product in items %}
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="{% url 'catalog:prod' p_id=product.id %}"><img src={{product.thumbnail}}></a>
                <div class="caption">
                    <a href="{% url 'catalog:prod' p_id=product.id %}"><h3 style="text-align: center;">{{ product.name }}</h3></a>
                    <p style="text-align: center;">${{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
