{% extends 'catalog/base.html'%}
{% block title %} Search For: {{ search_query }} {% endblock %}


{% block body %}
<div class="container">
    <div class="page-header">
        <h2> {{amount_of_results}} Items Matched "{{ search_query }}"</h2>

        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border:0px;">Filtering by</td>
                            <td id = "sex_sel" style="border:0px;"></td>
                            <td id = "cat_sel" style="border:0px;"></td>
                            <td id = "size_sel" style="border:0px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            var selected_sex = "{{selected_sex}}"
            var selected_cat = "{{category}}"
            var selected_size ="{{ size }}"

            var size_dict = {'stockXL': 'XL', 'stockL': "L", 'stockM': "M", 'stockS': "S"};
            if (selected_sex==='m'){
                document.getElementById("sex_sel").innerHTML = 'Sex: Mens';
            }
            else if (selected_sex==='w') {
                document.getElementById("sex_sel").innerHTML = 'Sex: Womens';
            }
            else{
                document.getElementById("sex_sel").innerHTML = 'Sex: All';
            }
            if (selected_cat === "all_products"){
                document.getElementById("cat_sel").innerHTML = 'Category: All';
            }
            else {
                document.getElementById("cat_sel").innerHTML = 'Category: '+selected_cat;
            }
            if (selected_size === "all_size"){
                document.getElementById("size_sel").innerHTML = 'Size: All';
            }
            else {
                document.getElementById("size_sel").innerHTML = 'Size: '+ size_dict[selected_size];
            }
        </script>
    </div>


    <div class="row">
        <div class="col-md-2" style="border-right: 1px solid #e7e7e7;">
            <h4>Filter By</h4>
            <br>

            <h5>Sex</h5>

            <div class="row">
                <ul style="list-style-type:none;">
                    <a href="{% url 'catalog:search' sex='mw' category=category size=size %}?q={{ request.GET.q }}"> All </a>
                    <a href="{% url 'catalog:search' sex='m' category=category size=size %}?q={{ request.GET.q }}"><li>Mens</li></a>
                    <a href="{% url 'catalog:search' sex='w' category=category size=size %}?q={{ request.GET.q }}"><li>Womens</li></a>
                </ul>
            </div>
            <br>

            <h5>Category</h5>

            <div class="row">
                <ul style="list-style-type:none;">
                    <a href="{% url 'catalog:search' sex=selected_sex category='all_products' size=size %}?q={{ request.GET.q }}"> All </a>
                    {% for cat in categories %}
                        <a href="{% url 'catalog:search' sex=selected_sex category=cat size=size %}?q={{ request.GET.q }}"><li>{{ cat }}</li></a>
                    {% endfor %}
                </ul>
            </div>

            <h5>Size</h5>

            <div class="row">
                <ul style="list-style-type:none;">
                    <a href="{% url 'catalog:search' sex=selected_sex category='all_products' size='all_size' %}?q={{ request.GET.q }}"> All </a>
                    {% for size in sizes %}
                        <a href="{% url 'catalog:search' sex=selected_sex category='all_products' size=size %}?q={{ request.GET.q }}"><li>{{ size }}</li></a>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td style="width: 200px;"><a href="{% url 'catalog:prod' p_id=product.id %}">
                                    <img class="thumbnail" src={{product.thumbnail}} style="width: 132px; height: 132px; object-fit: cover;">
                            </a></td>
                            <td style="vertical-align: middle;"><a href="{% url 'catalog:prod' p_id=product.id %}">
                                <h4>{{ product.name }} </h4></a>
                                <p>{{ product.category }}</p>
                                <h5>${{ product.price }}</h5>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation" style="margin-left:200px;">
        {% if products.has_other_pages %}
            <ul class="pagination">
                {% if products.has_previous %}
                    <li><a href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}&q={{ request.GET.q }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li><a href="?page={{ products.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
